<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Shopping cart {{ products.length > 0 ? products.length : "" }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let product of products">
      <div class="row">
        <div class="col-5 mx-1">{{ product.Title }}</div>
        <div class="col-5 text-end mx-1">{{ product.Price }}$</div>
      </div>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <div class="row">
        <div class="col-5 mx-1">Total</div>
        <div class="col-5 text-end mx-1">{{ totalPrice() }}$</div>
      </div>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li class="text-center"><button class="btn btn-primary" (click)="onPay()" >Pay</button></li>
  </ul>
</div>
