<div class="row">
  <div class="col-12">
    <div class="card">
      <img
        attr.src="{{ product ? product.ImageSrc : '' }}"
        class="card-img-top"
        style="height: 200px;"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product ? product.Title : "" }}</h5>
        <p class="card-text">
          {{ product ? product.Description : "" }}
        </p>
        <p class="card-text text-bold">
            {{ product ? product.Price : "" }}$
          </p>
        <button type="button" class="btn btn-primary" (click)="onAddToCart()">Buy</button>
      </div>
    </div>
  </div>
</div>
